@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body::after {
  content: "";
  background-image: linear-gradient(
      rgba(159, 155, 155, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url("assets/images/bg.png");
  position: fixed;
  background-position: center;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.condition {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather_wrapper {
  height: 350px;
}

@layer utilities {
  .input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    color: black;
  }

  .app_container {
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background-color: #00000030;
    color: whitesmoke;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.75);
    width: 680px;
    height: 500px;
  }

  .weather_conditions {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
}

@media screen and (max-width: 700px) {
  .app_container {
    width: 90%;
    margin: 0 auto;
    height: auto;
    padding: 30px;
  }

  .weather_conditions {
    grid-template-columns: repeat(2, 1fr);
  }

  .weather_wrapper {
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .weather_conditions {
    grid-template-columns: 1fr;
  }
}
